﻿.modal-body .scroller {

    height: 350px; 
    overflow-y: auto;
}


#customBtn {
    margin-top: 5px;
    margin-bottom: 5px;
    width:100%;
    display: inline-block;
    background: white;
    padding: 6px 5px;
    font-size: 18px;
    line-height: 1.33;
    border-style: solid;
    border-color: #eee;
    border-radius: 6px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    }

#customBtn:hover {
      cursor: pointer;
      background-color: #ccc;
    }

    span.label {
      font-family: serif;
      font-weight: normal;
    }

    span.icon {
      background: url('../../../resources/images/Google__G__Logo.svg') transparent 5px 40% no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 32px;
      height: 32px;
    }

    span.buttonText {
      display: inline-block;
      vertical-align: middle;
      padding-left: 42px;
      padding-right: 42px;
      font-size: 18px;
    }