﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="NomadixMaster.master.cs" Inherits="Portal.resources.master.NomadixMaster" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title></title>
    <!-- FUENTE CARGADA DESDE GOOGLE --> 
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"/>
    <!-- FONT AWESOME CARGADA DESDE SU WEB --> 
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- SCRIPTS -->
    <script src="../resources/scripts/jquery.js"></script>
    <script src="../resources/scripts/bootstrap.js" ></script>
    <script src="../resources/scripts/utils.js"></script>
    <script src="../resources/scripts/translate.js"></script>

    <!-- CSS -->
    <link href="/resources/css/bootstrap.css" rel="stylesheet" />
    <link href="/resources/css/bootstrap-theme.css" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <input type="hidden" name="code" id="languagecode" value="<%Response.Write (language);%>" />
        <input type="hidden" name="code" id="idhotel" value="<%Response.Write (idhotel);%>" />
        <input type="hidden" name="code" id="idlocation" value="<%Response.Write (idlocation);%>" />
        <input type="hidden" name="code" id="mac" value="<%Response.Write (mac);%>" />
        <input type="hidden" name="code" id="urlHotel" value="<%Response.Write(urlHotel);%>" />
        
        <div id="container">
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        
            </asp:ContentPlaceHolder>
         </div>
    </form>
</body>
</html>
