﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MerakiSecureMaster.master.cs" Inherits="Portal_Meraki.resources.MerakiSecureMaster" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title></title>
    <!-- FONT AWESOME CARGADA DESDE SU WEB --> 
    <link href="../../font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- SCRIPTS -->
    <script src="../resources/scripts/jquery.js"></script>
    <script src="../resources/scripts/bootstrap.js" ></script>
    <script src="../resources/scripts/utils.js"></script>
    <script src="../resources/scripts/translate.js"></script>

    <!-- GOOGLE LIBRARY -->
    <%--<script src="/resources/scripts/platform.js" async="async" defer="defer"></script>    
    <script src="/resources/scripts/api_client.js"></script>--%>
    <%--<script src="https://apis.google.com/js/platform.js" async="async" defer="defer"></script>    
    <script src="https://apis.google.com/js/api:client.js"></script> --%>

    
    <!-- CSS -->
    <link href="/resources/css/Roboto.css" rel="stylesheet" type="text/css"/>
    <link href="/resources/css/style.css" rel="stylesheet" />
    <link href="/resources/css/bootstrap.css" rel="stylesheet" />
    <link href="/resources/css/bootstrap-theme.css" rel="stylesheet" />
        <style>
        #footer { position:absolute; width:100%; height:100px; }
        #footer p {
            text-align: center;
            font-size: 9px;
        }
    </style>
    
        <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
       <input type="hidden" name="code" id="languagecode" value="<%Response.Write(language);%>" />
        <input type="hidden" name="code" id="idhotel" value="<%Response.Write(idhotel);%>" />
        <input type="hidden" name="code" id="idlocation" value="<%Response.Write(idlocation);%>" />
        <input type="hidden" name="code" id="mac" value="<%Response.Write(mac);%>" />
        <input type="hidden" name="code" id="origin" value="<%Response.Write(origin);%>" />
        <input type="hidden" name="code" id="error" value="<%Response.Write(error);%>" />
        <input type="hidden" name="code" id="urlHotel" value="<%Response.Write(urlHotel);%>" />
        <input type="hidden" name="code" id="urlDest" value="<%Response.Write(urlDest);%>" />
        <input type="hidden" name="code" id="username" value="<%Response.Write(username);%>" />
        <input type="hidden" name="code" id="password" value="<%Response.Write(password);%>" />
        <input type="hidden" name="code" id="validtill" value="<%Response.Write(validtill);%>" />
        <input type="hidden" name="code" id="cloudre" value="<%Response.Write(cloudre);%>" />
    <div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
    <footer id="footer">
        <hr />
            <p>Powered by Future Broadband S.L. | <a href="aviso-legal.aspx">Aviso Legal</a></p>
    </footer>
    <script>
        $(document).ready(function (e) {

            x = 1000// $('#container').height() + 20; // +20 gives space between div and footer
            y = $(window).height();
            if (y <= 350) {
                x = 1090;
            }
            if (x + 100 <= y) { // 100 is the height of your footer
                $('#footer').css('top', y + 20 + 'px');// again 100 is the height of your footer
                $('#footer').css('display', 'block');
            } else {
                $('#footer').css('top', x + 'px');
                $('#footer').css('display', 'block');
            }

        });
    </script>
    </form>
</body>
</html>
