﻿body {
  background-image: url("../../images/135/135-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #4b4b4b;
  height: auto;
  overflow-x: hidden;
  min-width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }