﻿.fastticket {
    border: solid 1px #000;
    width: 200px;
    padding : 10px;
    float : left;
    background : #FFF;
    font-size:10px;
    text-align:center;
}
    .fastticket h3 {
        margin-top : 10px;
    }
    .fastticket p {
        clear : both;
    }

    .fastticket img {
        width: 140px;
        margin: 5px;
    }

@media print {

   .dashboard { display: none; }
    .header { display: none; }
    .search { display: none; }

}

.fastticket2 {
    width: 200px;
    float : left;
    background : #FFF;
    font-size:13px;
    text-align:left;
    margin : 0px 0px 45px 0px;
    font-family: sans-serif;
    font-size: 13px;
}
    .fastticket2 hr {
        color :#000;
        margin: 10px 0px 10px 0px;
    }
    .fastticket2 span {
        margin : 0px;
        font-family: sans-serif;
        font-size: 16px;
        font-weight:bold;
        text-align: center;
        display : block;
        margin-bottom : 10px;
    }
    .fastticket2 p {
        clear : both;
    }

    .fastticket2 img {
        width: 200px;
        margin: 5px;
        padding : 0px 0px 40px 0px;
    }
