﻿/* FONDO DE LA PANTALLA*/    
/*mayores de 820*/
@media only screen and (min-width: 981px) { 
    html{
     height:100%;
     min-height:100%;
    } 
  body {
        background-image: url('../portales/fibratel_bg.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
        background-size: cover;
    }

}
  
/* Para 800px */  
@media only screen and (max-width: 980px)  { 
    html{
     height:100%;
     min-height:100%;
    }  
    body {
        background-image: url('../portales/fibratel_bg_mobile.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-attachment: fixed;
        -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
        background-size: cover;
    }
}  
/* TEXTO WELCOME TO NETTING WIFI DASHBOARD*/
    h3 {
        color : #ff4900;
    }

/*TEXTO NETTING TECH 2019*/

.copyright {
    color : #ff4900;
}

/* CAJAS DE TEXTO*/
.form-control {
    color : #ff4900;
    text-align:center;
}

/* BORDE DE LA CAJA DE TEXTO CON FOCO*/
.form-control:focus {
    border-color : #ff4900;
}

/* COLOR DEL BOTON */
.btn-primary {
    background : #ff4900;
    border-color : #ff4900;
    color: #FFF;
}

/* COLOR DEL BOTON AL PASAR POR ENCIMA */
.btn-primary:hover {
    background-color : #fab59a;
    border-color : #fab59a;
    color : #000;
}

/* COLOR DEL BOTON AL HACER CLICK*/
.btn-primary:focus {
    background-color : #fab59a;
    border-color : #fab59a;
    color : #000;
}


