﻿/* FONDO DE LA PANTALLA*/ 
@media only screen and (min-width: 981px) { 
    html{
     height:100%;
     min-height:100%;
    } 
  body {
                background-image:url('../portales/hispasat_bg.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
        background-size: cover;
    }

}
  
@media only screen and (max-width: 980px)  { 
    html{
     height:100%;
     min-height:100%;
    }  
    body {
                background-image:url('../portales/hispasat_bg_mobile.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-attachment: fixed;
        -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
        background-size: cover;
    }
}    

/* TEXTO WELCOME TO NETTING WIFI DASHBOARD*/
    h3 {
        color : #2c5a71;
    }

/*TEXTO NETTING TECH 2019*/

.copyright {
    color : #2c5a71;
}

/* CAJAS DE TEXTO*/
.form-control {
    color : #2c5a72;
    text-align:center;
}

/* BORDE DE LA CAJA DE TEXTO CON FOCO*/
.form-control:focus {
    border-color : #2c5a72;
}

/* COLOR DEL BOTON */
.btn-primary {
    background : #2c5a71;
    border-color : #2c5a71;
    color: #FFF;
}

/* COLOR DEL BOTON AL PASAR POR ENCIMA */
.btn-primary:hover {
    background-color : #50a3cc;
    border-color : #50a3cc;
    color : #FFF;
}

/* COLOR DEL BOTON AL HACER CLICK*/
.btn-primary:focus {
    background-color : #50a3cc;
    border-color : #50a3cc;
    color : #FFF;
}


