﻿/* FONDO DE LA PANTALLA*/    
body {
        background-image:url('../img/netting-bg.jpg');
        background-repeat:no-repeat;
        background-size:contain;
        background-position:center;
        background-attachment: fixed;
        background-size: cover;
    }

/* TEXTO WELCOME TO NETTING WIFI DASHBOARD*/
    h3 {
        color : #DDD;
    }

/*TEXTO NETTING TECH 2019*/

.copyright {
    color : #DDD;
}