
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* ========================================================================== ^/
/^   BASE
/^ ========================================================================== */
/* ========================================================================== ^/
/^   Parameters
/^ ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFF; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

*:focus {
  outline: none; }

body {
  height: 100%; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ddd;
  margin: 1em 0;
  padding: 0; }

p {
  margin: 0; }

audio, canvas, iframe, img, svg, video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

a {
  color: #f9423a;
  text-decoration: none; }

a:hover {
  color: #f9423a; }

h1, h2 {
  color: #FFF; }

/* ========================================================================== ^/
/^   Helpers classes
/^ ========================================================================== */
.gw-powered-by {
  display: none; }

/* Visually */
.hidden {
  display: none !important; }

.invisible {
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

/* ========================================================================== ^/
/^   CLEARFIX
/^ ========================================================================== */
.cf::before, .cf::after {
  content: " ";
  display: table; }

.cf::after {
  clear: both; }

/* ========================================================================== ^/
/^   Layout
/^ ========================================================================== */
body {
  background-image: url("../../assets/images/OHT59V0.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #4b4b4b;
  height: auto;
  overflow-x: hidden;
  min-width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  body .page-wrapper {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }

.page-wrapper,
.header-wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 15px 60px; }

.page-wrapper {
  min-height: 100%;
  color: #4b4b4b;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400; }

section:before, section:after {
  content: " ";
  display: table; }

section:after {
  clear: both; }

.row {
  margin-left: -10px;
  margin-right: -10px; }
  .row:before, .row:after {
    content: "";
    display: table; }
  .row:after {
    clear: both; }

.col {
  padding-left: 10px;
  padding-right: 10px; }
  .col-r {
    float: right; }
  .col-l {
    float: left; }
  .col-50 {
    width: calc(50%); }
    .col-50:after {
      content: "";
      display: table;
      clear: both; }
    .col-50-xs.col-r {
      padding-left: 5px; }
    .col-50-xs.col-l {
      padding-right: 5px; }
  .col-100 {
    width: calc(100%); }

.content-login {
  width: 100%;
  padding: 30px 30px;
  float: right;
  margin-top: 40px;
  max-width: 460px;
  background-color: rgba(255, 255, 255, 0.7); }

.claim-text {
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 90%);
  padding: 90px;
  padding-left: 0px; }

/* ========================================================================== ^/
/^   Header
/^ ========================================================================== */
.header {
  background-color: #FFFFFF;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%; }
  .header-wrapper {
    overflow: hidden;
    clear: both; }
  .header-right {
    width: 50%;
    float: right;
    text-align: right; }
    .header-right::after {
      display: table;
      clear: both; }
  .header-left {
    width: 50%;
    float: left;
    text-align: left; }
    .header-left::after {
      display: table;
      clear: both; }
  .header-language {
    display: inline-block;
    max-width: 105px;
    width: 60%; }

/* ========================================================================== ^/
/^   Footer
/^ ========================================================================== */
.footer {
  font-size: 11px;
  letter-spacing: 0.1px;
  text-align: center;
  color: #FFF;
  min-height: 50px;
  background-color: #4b4b4b;
  padding: 15px 10px;
  font-family: "Open Sans", sans-serif; }
  .footer p {
    vertical-align: middle;
    display: inline-block; }

/* ========================================================================== ^/
/^   Images
/^ ========================================================================== */
.image-wrapper {
  width: 100%;
  height: 100%;
  position: absolute; }

/* ========================================================================== ^/
/^   Texts
/^ ========================================================================== */
.section-title, .section-subtitle {
  text-align: left; }

.section-title {
  font-size: 52px;
  font-weight: bold;
  color: #4b4b4b; }

.section-text {
  font-size: 24px;
  font-weight: normal;
  color: #4b4b4b; }
  .section-text strong {
    font-weight: bold; }

/* ========================================================================== ^/
/^   Logo
/^ ========================================================================== */
.logo-wanup {
  color: #f9423a;
  background-color: transparent;
  fill: #f9423a;
  height: 100%;
  margin-bottom: 10px; }
  .logo-wanup__wrapper {
    text-align: center; }

.logo-hotel {
  color: #4b4b4b;
  font-weight: 600;
  font-size: 20px;
  font-family: "Open Sans", sans-serif; }

/* ========================================================================== ^/
/^   Form
/^ ========================================================================== */
.form button, .form input, .form optgroup, .form select, .form textarea, .form label {
  font-family: "Open Sans", sans-serif; }

.form select {
  width: 100%; }

.form-field {
  width: 100%;
  margin-bottom: 10px;
  position: relative; }
  .form-field input, .form-field select {
    width: 100%;
    height: 50px;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
    font-size: 12px;
    background-color: white;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
    .form-field input.error, .form-field select.error {
      border-color: #c8102e;
      color: #c8102e; }
      .form-field input.error::-webkit-input-placeholder, .form-field select.error::-webkit-input-placeholder {
        color: #c8102e; }
  .form-field--select::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 25px;
    right: 20px;
    margin-top: -6px;
    border-top: 1px solid #4b4b4b;
    border-right: 1px solid #4b4b4b;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    pointer-events: none; }
  .form-field.form-check {
    margin-top: 20px;
    margin-bottom: 30px; }
    .form-field.form-check label {
      display: block;
      position: relative;
      padding-left: 25px;
      cursor: pointer; }
      .form-field.form-check label input[type="checkbox"] {
        display: none; }
        .form-field.form-check label input[type="checkbox"]:checked ~ span::before {
          background-color: #f9423a;
          border-color: #f9423a; }
        .form-field.form-check label input[type="checkbox"]:checked ~ .icon {
          display: block; }
        .form-field.form-check label input[type="checkbox"].error ~ span::before {
          background-color: white;
          border-color: #c8102e; }
        .form-field.form-check label input[type="checkbox"].error ~ span {
          color: #c8102e; }
      .form-field.form-check label span {
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        .form-field.form-check label span:before {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 18px;
          height: 18px;
          background-color: #FFF;
          border: 1px solid #ddd;
          border-radius: 2px;
          -webkit-transition: all 0.2s linear;
          transition: all 0.2s linear; }
      .form-field.form-check label .icon {
        position: absolute;
        left: 5px;
        top: 5px;
        width: 9px;
        height: 9px;
        z-index: 1;
        color: #FFF;
        font-size: 8px;
        fill: #FFF;
        display: none; }

.form-fieldr {
  color: #000;
  width: 100%;
  padding: 0;
  padding-bottom: 5px;
  background-color: transparent;
  background-image: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: left;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear; }
  .form-fieldr .form-label {
    display: block;
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 5px; }

.form-select {
  position: relative;
  font-size: 14px; }
  .form-select::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 26px;
    right: 3px;
    margin-top: -6px;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    pointer-events: none; }
  .form-select-field {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    background: transparent;
    display: block;
    font-weight: bold; }

.form-separator {
  color: #000;
  font-size: 12px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center; }

.form-alert {
  display: none;
  padding: 4px 10px;
  margin-bottom: 1px;
  color: #FFF;
  text-align: center; }
  .form-alert span {
    display: block;
    color: #FFF; }

.form-text {
  margin: 10px 0;
  text-align: center; }

/* ========================================================================== ^/
/^   Button
/^ ========================================================================== */
.btn {
  position: relative;
  display: inline-block;
  padding: 9px 22px;
  overflow: hidden;
  vertical-align: bottom;
  border-radius: 2px;
 /* border: 1px solid transparent;
  background-color: #f9423a;*/
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  width: 100%;
  min-height: 50px;
  max-width: 100%;
  font-size: 15px;
  font-weight: bold;
  color: #FFF;
  line-height: 1.454545;
  text-transform: uppercase;
  text-align: center; }
  /*.btn:hover {
    background-color: #c8102e; }*/

    .btn.round {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px; }

/* ========================================================================== ^/
/^   Claim text
/^ ========================================================================== */
/* ========================================================================== ^/
/^   Social Login Buttons
/^ ========================================================================== */
.social-login p {
  margin: 10px 0 5px 0;
  text-align: center; }

.social-login-button {
  width: 100%;
  /*height: 50px;*/
  background-color: #ddd;
  vertical-align: middle;
  display: block;
  border-radius: 3px;
  margin-top: 10px;
  color: #FFF;
  text-align: center;
  padding: 10px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}

    .social-login-button:hover {
        color: #000;
    }
  .social-login-button span {
    margin-top: 5px;
    vertical-align: middle;
    margin-left: 10px;
    color: white; }

    .social-login-button span:hover {
        text-decoration:none;
        color: #000;
    }
  .social-login-button.facebook {
    background-color: #4460A0;
    font-size: 14px;
    font-weight: bold; }

    .social-login-button.facebook:hover {
    text-decoration:none;
    }

  .social-login-button.instagram {
   background-color: #fbad50;
   font-size: 14px;
   font-weight: bold; }

    .social-login-button.instagram:hover {
        text-decoration:none;
    }

   .social-login-button.twitter {
    background-color: #00aced;
    font-size: 14px;
    font-weight: bold; }

    .social-login-button.twitter:hover {
    text-decoration:none;
    }

.social-login-button.googleplus {
    background-color: #d34836;
    font-size: 14px;
    font-weight: bold; }
    .social-login-button.googleplus:hover {
    text-decoration:none;
    }

.social-login-button.linkedin {
    background-color: #0077B5;
    font-size: 14px;
    font-weight: bold; }
    .social-login-button.linkedin:hover {
    text-decoration:none;
    }


.social-login-button.form {
   background-color: #009ca8;
   font-size: 14px;
   font-weight: bold; }
    .social-login-button.form:hover {
    text-decoration:none;
    }

 .social-login-button.login {
   background-color: #AF7AC5;
   font-size: 14px;
   font-weight: bold; }

    .social-login-button.login:hover {
        text-decoration:none;
    }
.social-login-icon {
  border-right: 1px solid #FFF;
  height: 100%;
  color: #FFF;
  fill: #FFF;
  padding: 5px 10px;
  width: 50px; }


/* ========================================================================== ^/
/^   Language Switcher
/^ ========================================================================== */
.language-switcher label {
  display: none; }
@media (min-width: 768px) and (max-width: 993px){
  .section-text{
    font-size: 22px; } }
@media (max-width: 767px){
  .page-wrapper,
    .header-wrapper{
    padding: 15px; }
  .row{
    margin-left: -20px;
    margin-right: -20px; }
  .col{
    padding-right: 20px;
    padding-left: 20px; }
  .header{
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 20px; }
  .section-title{
    font-size: 36px; }
  .section-text{
    font-size: 16px;
    margin-top: 10px; } }
@media (max-width: 992px){
  .page-wrapper{
    background-color: rgba(255, 255, 255, 0.7); }
  .col-50-md{
    width: 100%; }
  .col{
    padding-right: 10px;
    padding-left: 10px; }
  .content-login,
  .claim-text{
    background-color: transparent;
    margin-top: 0;
    max-width: none;
    padding: 30px 15px; }
  .claim-text{
    text-align: center; }
  .section-title, .section-subtitle{
    text-align: center; } }
