﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="parametros.aspx.cs" Inherits="Portal.meraki.parametros" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <script src="../resources/scripts/jquery.js"></script>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label runat="server" ID="parametroslabel"></asp:Label>

    </div>
    </form>
</body>
</html>
