﻿<%@ Page Title="" Language="C#" MasterPageFile="~/master/Site.Master" AutoEventWireup="true" CodeBehind="banner.aspx.cs" Inherits="Wifi360.test" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">


</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <script data-cfasync="false" type="text/javascript" src="https://www.geniusdexchange.com/a/display.php?r=2138315"></script> 
</asp:Content>
