﻿/* FONDO DE LA PANTALLA*/    
html{
     height:100%;
     min-height:100%;
    }
body {
        background-image:url('../portales/nexmachina_bg.jpg');
        background-repeat:no-repeat;
        background-size:contain;
        background-position:center;
        background-attachment: fixed;
        background-size: cover;
        -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
        background-size: cover;
    }

/* TEXTO WELCOME TO NETTING WIFI DASHBOARD*/
    h3 {
        color : #27b4d500;
    }

/*TEXTO NETTING TECH 2019*/

.copyright {
    color : #27b4d5;
}

/* CAJAS DE TEXTO*/
.form-control {
    color : #2c5a72;
    text-align:center;
}

/* BORDE DE LA CAJA DE TEXTO CON FOCO*/
.form-control:focus {
    border-color : #2c5a72;
}

/* COLOR DEL BOTON */
.btn-primary {
    background : #27b4d5;
    border-color : #27b4d5;
    color: #FFF;
}

/* COLOR DEL BOTON AL PASAR POR ENCIMA */
.btn-primary:hover {
    background-color : #50a3cc;
    border-color : #50a3cc;
    color : #FFF;
}

/* COLOR DEL BOTON AL HACER CLICK*/
.btn-primary:focus {
    background-color : #50a3cc;
    border-color : #50a3cc;
    color : #FFF;
}


