﻿/* FONDO DE LA PANTALLA*/    

.gray-bg {
    background-color: #613992;
}

@media only screen and (min-width: 981px) {
    body {
        background-image: url('../portales/on_bg.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media only screen and (max-width: 980px) {
    html{
     height:100%;
     min-height:100%;
    }
    body {
        background-image: url('../portales/on_bg_mobile.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

/* TEXTO WELCOME TO NETTING WIFI DASHBOARD*/
    h3 {
        color : #36945100;
    }

/*TEXTO NETTING TECH 2019*/

.copyright {
    color : #36945100;
}

/* CAJAS DE TEXTO*/
.form-control {
    color : #369451;
    text-align:center;
}

/* BORDE DE LA CAJA DE TEXTO CON FOCO*/
.form-control:focus {
    border-color : #369451;
}

/* COLOR DEL BOTON */
.btn-primary {
    background : #369451;
    border-color : #369451;
    color: #FFF;
}

/* COLOR DEL BOTON AL PASAR POR ENCIMA */
.btn-primary:hover {
    background-color : #369451;
    border-color : #369451;
    color : #000;
}

/* COLOR DEL BOTON AL HACER CLICK*/
.btn-primary:focus {
    background-color : #2B7640;
    border-color : #2B7640;
    color : #000;
}


